<nav class="navbar item" [ngClass]="{'navbarExpand': isChecked }">
  <div class="container" fxFlex='100%'>
    <a href="" class="logo">
      <h2 [ngClass]="{'NavbarExpand': isChecked }">
        <img src="assets/logoInline.webp" alt="logo" width="200px" *ngIf="!isChecked;else darkLogo">
        <ng-template #darkLogo>
          <img src="assets/logoInlineMobile.webp" alt="darklogo" class="darklogo" width="200px">
        </ng-template>
      </h2>
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" [(ngModel)]="isChecked" />
    <label class="menu-icon" for="menu-btn" [ngClass]="{'navbarExpand': isChecked }"><span
        class="navicon"></span></label>
    <ul class="menu">
      <li><a (click)="scrollToElement(meildo)">Meildo</a></li>
      <li><a (click)="scrollToElement(features)">Fonctionnalités</a></li>
      <li><a (click)="scrollToElement(mockup)">Demo</a></li>
      <li><a (click)="scrollToElement(contact)">Contact</a></li>
    </ul>
  </div>
</nav>


<main>

  <section class="home">
    <div class="container" fxFlex='95%' fxFlex.gt-sm='85%' fxLayoutAlign="center  center">
      <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="32px" fxLayoutGap.gt-sm="0px"
        fxLayoutAlign="center center" class="home-column">

        <!-- Text -->
        <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm='60%'>
          <div class="title">
            <h1>Meildo,<br> Le réseau social étudiant</h1>
            <p>Le réseau social 100% étudiants !</p>
          </div>
          <div fxLayout="row" fxFlex="100%">
            <div class="avaible">
              <i class="fas fa-bullhorn"></i>
              <p>Disponible sur toutes les plateformes dès <b class="external-link">Septembre 2021 !</b></p>
            </div>
          </div>
        </div>

        <!-- Mockup -->
        <div class="home-mockup" fxLayoutAlign="center center" fxFlex="100%" fxFlex.gt-sm='40%'>
          <img src="assets/img/home/landing.webp" alt="mockup">
        </div>

      </div>
    </div>
  </section>

  <section class="meildo" #meildo ngsReveal>
    <div class="container" fxFlex='90%' fxFlex.gt-sm='85%' fxLayout="column" fxLayout.gt-xs="row wrap"
      fxLayoutGap="32px" fxLayoutGap.gt-sm="0px" fxLayoutAlign="center center">
      <!-- Text -->
      <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm='50%' fxLayoutAlign="start  center">
        <ul class="heading">
          <li class="sub-heading">
            <h4>A PROPOS DE NOUS</h4>
          </li>
        </ul>
        <h2>Meildo, bien plus qu'un réseau </h2>
        <p>Plus qu’un réseau social, c’est des rencontres, des bons moments et du contact avec des personnes ayant les
          mêmes centres d’intérêts que toi. Tu pourras découvrir des fonctionnalités exclusives en plus de la
          messagerie directe et des posts. C’est le réseau social pour les étudiants, pensé et créé par des étudiants.
        </p>
        <p><b> Sortie prévue septembre 2021, stay tuned !</b> Et inscris toi à la newsletter pour recevoir des infos en
          exclusivité ! </p>

        <div fxLayout="column">
          <p> Suis toutes notre
            actualité sur nos réseaux &#8595;</p>
          <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="32px">
            <a href="https://www.instagram.com/meildo.network" target="blank">
              <i class="fab fa-instagram"></i>
              <span class="external-link">Notre compte Instagram</span>
            </a>
            <a href="https://www.facebook.com/meildo.network" target="blank">
              <i class="fab fa-facebook"></i>
              <span class="external-link">Notre page Facebook</span>
            </a>
          </div>
        </div>

      </div>
      <!-- Img -->
      <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center" fxHide fxShow.gt-sm>
        <!-- <img src="assets/img/meildo.webp" alt="app" width="60%">  -->

        <div class="circle-wrapper">

          <!-- Circle -->
          <div class="circle-wrap">
            <div class="circle circle-1"> </div>
            <div class="circle circle-2"> </div>
            <div class="circle circle-3"> </div>
            <div class="circle circle-4"> </div>
          </div>

          <!-- Circle -->
          <div class="circle-wrap circle-wrap-second">
            <div class="circle circle-1"> </div>
            <div class="circle circle-2"> </div>
            <div class="circle circle-3"> </div>
            <div class="circle circle-4"> </div>
          </div>
        </div>

      </div>

    </div>

  </section>

  <section class="features" #features ngsReveal>
    <div class="container" fxFlex='90%' fxFlex.gt-sm='85%'>
      <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="32px" fxLayoutGap.gt-sm="0px"
        fxLayoutAlign="center center">
        <!-- Img -->
        <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center" fxHide fxShow.gt-sm>
          <img src="assets/img/mockup/mock3.webp" alt="app" class="mockup-duo mock-1">
          <img src="assets/img/mockup/mock2.webp" alt="app" class="mockup-duo mock-2">
        </div>
        <!-- Text -->
        <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm='50%' fxLayoutAlign="start  center">
          <ul class="heading">
            <li class="sub-heading">
              <h4>Nos fonctionnalités </h4>
            </li>
          </ul>
          <h2>Pourquoi utiliser Meildo ?</h2>

          <!-- List -->
          <div fxLayout="column" fxFlex="50%" fxLayoutAlign="start  center">

            <!-- Item -->
            <div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="circle-wrapper">
                  <div class="circle">
                    <i class="far fa-laugh-wink"></i>
                  </div>
                </div>
                <h3>Rencontre de nouvelles personnes</h3>
              </div>
              <p>Rencontre des étudiants de ton école, université, discute, échange avec eux et développe de nouvelles
                amitiés. </p>
            </div>
            <!-- / Item -->
            <!-- Item -->
            <div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="circle-wrapper">
                  <div class="circle">
                    <i class="fas fa-calendar-check"></i>
                  </div>
                </div>
                <h3>Participe à des événements</h3>
              </div>
              <p>Crée, rejoins des événements et partage ces moments avec des étudiants ayant les mêmes centres
                d'intérêts. </p>
            </div>
            <!-- / Item -->
            <!-- Item -->
            <div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="circle-wrapper">
                  <div class="circle">
                    <i class="fas fa-graduation-cap"></i>
                  </div>
                </div>
                <h3>Retrouve toutes les infos de ton campus</h3>
              </div>
              <p>Retrouve en un clique toutes les informations, événements de ton campus et ne manque plus aucun bon plan. </p>
            </div>
            <!-- / Item -->

            <div fxLayout="row">
              <h3 class="external-link">Et bien plus encore à découvrir directement sur Meildo !</h3>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mockup" #mockup ngsReveal>
    <div class="container" fxFlex='100%'>
      <div fxLayout="row wrap"  fxLayoutAlign="center center">

        <div class="mockup_wrap">
          <img src="assets/img/mockup/mockup.webp" alt="mockup"  fxHide fxShow.gt-lg>
        </div>

        <drag-scroll #nav [drag-disabled]="true">
          <div drag-scroll-item></div>
          <div drag-scroll-item></div>
          <div drag-scroll-item>
            <img src="assets/img/mockup/Mock2Mobile.webp" fxShow fxHide.gt-lg class="mock-mobile" />
            <img src="assets/img/mockup/mock2.webp" fxHide fxShow.gt-lg  />
          </div>
          <div drag-scroll-item>
            <img src="assets/img/mockup/Mock3Mobile.webp"fxShow fxHide.gt-lg  class="mock-mobile"/>
            <img src="assets/img/mockup/mock3.webp" fxHide fxShow.gt-lg  />
          </div>
          <div drag-scroll-item>
            <img src="assets/img/mockup/Mock1Mobile.webp"fxShow fxHide.gt-lg class="mock-mobile"/>
            <img src="assets/img/mockup/mock1.webp" fxHide fxShow.gt-lg  />
          </div>
          <div drag-scroll-item>
            <img src="assets/img/mockup/Mock4Mobile.webp" fxShow fxHide.gt-lg class="mock-mobile" />
            <img src="assets/img/mockup/mock4.webp" fxHide fxShow.gt-lg  />
          </div>
          <div drag-scroll-item>
            <img src="assets/img/mockup/Mock5Mobile.webp" fxShow fxHide.gt-lg class="mock-mobile"/>
            <img src="assets/img/mockup/mock5.webp" fxHide fxShow.gt-lg  />
          </div>
          <div drag-scroll-item></div>
          <div drag-scroll-item></div>

        </drag-scroll>

        <div class="dots">
          <ng-container *ngFor="let car of car_data;let i = index">
            <!-- Desktop -->
            <div class="dot" (click)="moveTo(car.index,0,4)" fxHide fxShow.gt-sm *ngIf="i<5">
              <span [ngClass]="{active: car.index==curr_index}"></span>
            </div>

            <!-- Mobile -->
            <div class="dot" (click)="moveTo(car.index,2,6)" fxShow fxHide.gt-sm *ngIf="i>1 && i<7">
              <span [ngClass]="{active: car.index==curr_index}"></span>
            </div>
          </ng-container>
        </div>

        <div>


        </div>

      </div>
    </div>
  </section>

  <section class="team" ngsReveal>

    <div class="container" fxFlex='90%' fxFlex.gt-sm='75' fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="32px"
      fxLayoutGap.gt-sm="0px" fxLayoutAlign="center center">
      <!-- Text -->
      <div fxLayout="column" fxFlex="50" fxFlex.gt-sm='0%' fxLayoutAlign="start  center">
        <ul class="heading">
          <li class="sub-heading">
            <h4>La Meildo Team </h4>
          </li>
        </ul>
        <h2>Qui sommes-nous ? </h2>
        <p>
          Une équipe de 6 étudiants en informatique, qui ont eu envie de mélanger leur passion du code et de la vie
          sociale. Nous voulons que les gens se retrouvent, se rencontrent et partagent des moments mémorables !
          Nous développons nous-mêmes l’application du début à la fin.
        </p>
      </div>
      <!-- Img -->
      <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center" fxHide fxShow.gt-sm>
        <img src="assets/img/team/team.svg" alt="app" width="60%">
      </div>
    </div>

  </section>

  <section class="contact" #contact ngsReveal>
    <div class="container" fxFlex='90' fxFlex.gt-sm='85' fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutGap="32px" fxLayoutGap.gt-sm="0px" fxLayoutAlign="center center" fxFlex="100%"
        fxFlex.gt-sm='50%'>
        <ul class="heading">
          <li class="sub-heading">
            <h4>Contact </h4>
          </li>
        </ul>
        <h2>Reste au courant </h2>
        <p>Si tu veux suivre nos actus en avant-première et profiter en exclusivité de la sortie de l’app, inscris toi à
          notre newsletter.
          Nous sommes aussi présents sur tes réseaux préférés comme
          <a href="https://www.instagram.com/meildo.network/" target="blank" class="external-link"><i
              class="fab fa-instagram"></i>Instagram</a>
          et <a href="https://www.facebook.com/meildo.network" target="blank" class="external-link"><i
              class="fab fa-facebook"></i> Facebook</a> où
          tu retrouveras l’actualité
          de nos équipes !
        </p>

        <form class="contact-form" [formGroup]="contactForm" (submit)="registerNewsLetter()">
          <input type="email" placeholder="Ton adresse mail" class="contact-input" formControlName="email"
            [email]="true">
          <div class="submit-wrapper">
            <button type="submit"
              [disabled]="contactForm.controls.email.errors || contactForm.controls.email.value=='' || contactForm.controls.email.value==null">Valider</button>
          </div>

        </form>
        <span *ngIf="contactForm.controls.email.errors" class="contact-error">
          Veuillez entrer une adresse mail valide :D
        </span>
        <div class="snackbar" [ngClass]="{show: showSnack}" (click)="showSnack=false"><i class="fas fa-paper-plane"></i>
          Votre adresse a bien été
          enregistrée !</div>

      </div>
    </div>
  </section>

  <footer fxLayout="column" fxLayoutAlign="center center">

    <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutAlign.gt-sm="center start"
      style="width: 100%;">

      <div class="footer-item" fxFlex='50' fxFlex.gt-sm='15%'>
        <h3>Meildo</h3>
        <p>Le réseau social 100% étudiants ! <br> Crée par des étudiants pour les étudiants.</p>
      </div>

      <div class="footer-item" fxFlex='50' fxFlex.gt-sm='15%'>
        <h3>Contact</h3>
        <ul>
          <li>
            <a href="mailto:contact.meildo@gmail.com">
              <i class="far fa-paper-plane"></i>Email</a>
          </li>
          <li>
            <a href="https://www.instagram.com/meildo.network/" target="blank"> <i
                class="fab fa-instagram"></i>Instagram </a>
          </li>
          <li>
            <a href="https://www.facebook.com/meildo.network" target="blank">
              <i class="fab fa-facebook-f"></i>Facebook
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-item" fxFlex='50' fxFlex.gt-sm='15%'>
        <h3>Application</h3>
        <ul>
          <li>
            <a href="#" target="blank">
              <i class="fas fa-laptop"></i>Web
            </a>
          </li>
          <li>
            <a href="#" target="blank">
              <i class="fab fa-app-store-ios"></i>IOS
            </a>
          </li>
          <li>
            <a href="#" target="blank">
              <i class="fab fa-android"></i>Android
            </a>
          </li>


        </ul>
      </div>

      <div class="footer-item" fxFlex='50' fxFlex.gt-sm='15%'>
        <h3>Légal</h3>
        <ul>
          <li>Mentions légales</li>
        </ul>
      </div>

    </div>

    <span>Copyright ©2021 Meildo. All Rights Reserved.</span>
  </footer>


</main>